<div class="page-header">
  <h3>Project #<%= @project.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @project.title %></dd>

      <dt>Project type</dt>
      <dd><%= @project.project_type %></dd>

      <dt>Description</dt>
      <dd><%= @project.description %></dd>

      <dt>Status</dt>
      <dd><%= @project.status %></dd>

      <dt>Version</dt>
      <dd><%= @project.version %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/projects" class="btn btn-primary">
        Back
      </a>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Project has many items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Items
      </li>

      <% @project.items.each do |item| %>
        <li class="list-group-item">
          <a href="/items/<%= item.id %>">
            <%= item.project_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for project_id -->
      <input type="hidden" name="project_id" value="<%= @project.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Item
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Project has many assignments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assignments
      </li>

      <% @project.assignments.each do |assignment| %>
        <li class="list-group-item">
          <a href="/assignments/<%= assignment.id %>">
            <%= assignment.project_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assignments/<%= assignment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/assignments/<%= assignment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_assignment/<%= assignment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_assignment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for project_id -->
      <input type="hidden" name="project_id" value="<%= @project.id %>">

      <!-- Label and input for designer_id -->
      <div class="form-group">
        <label for="designer_id" class="control-label">
          Designer
        </label>

        <%= select_tag(:designer_id, options_from_collection_for_select(Designer.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Assignment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Project has many engagements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Engagements
      </li>

      <% @project.engagements.each do |engagement| %>
        <li class="list-group-item">
          <a href="/engagements/<%= engagement.id %>">
            <%= engagement.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/engagements/<%= engagement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/engagements/<%= engagement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_engagement/<%= engagement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_engagement" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for project_id -->
      <input type="hidden" name="project_id" value="<%= @project.id %>">

      <!-- Label and input for client_id -->
      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>

        <%= select_tag(:client_id, options_from_collection_for_select(Client.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Engagement
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Project has many designers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Designers
      </li>

      <% @project.designers.each do |designer| %>
        <li class="list-group-item">
          <a href="/designers/<%= designer.id %>">
            <%= designer.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/designers/<%= designer.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/designers/<%= designer.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_designer/<%= designer.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Project has many companies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Companies
      </li>

      <% @project.companies.each do |company| %>
        <li class="list-group-item">
          <a href="/companies/<%= company.id %>">
            <%= company.hours_available %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/companies/<%= company.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/companies/<%= company.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_company/<%= company.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Project has many clients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Clients
      </li>

      <% @project.clients.each do |client| %>
        <li class="list-group-item">
          <a href="/clients/<%= client.id %>">
            <%= client.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/clients/<%= client.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/clients/<%= client.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_client/<%= client.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
