<div class="page-header">
  <h3>Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Project</dt>
      <dd><%= @item.project_id %></dd>

      <dt>Name</dt>
      <dd><%= @item.name %></dd>

      <dt>Description</dt>
      <dd><%= @item.description %></dd>

      <dt>Url</dt>
      <dd><%= @item.url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Item has many company -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Company
      </li>

      <% @item.company.each do |company| %>
        <li class="list-group-item">
          <a href="/companies/<%= company.id %>">
            <%= company.hours_available %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/companies/<%= company.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/companies/<%= company.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_company/<%= company.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
